body {
    margin: 0;
    background-color: rgb(235, 235, 235);
    font-family: Axiforma;
    color: #FAF9F6;
}

h1, h2, h3, h4, p {
    margin-block-start: 0.1em;
    margin-block-end: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content"
    ;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    position: fixed;
    grid-area: sidebar;
    height: 100vh;
    width: 360px;
    padding-top: 20px;
    grid-area: 1 / 1 / -1 / 2;
    background-color: rgb(97, 173, 173);
}

.header {
    grid-area: header;
    background-color: #FAF9F6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
}

.sidebar-h1-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

svg {
    margin-left: auto;
    margin-right: auto;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 14px;
    align-items: center;
    margin-block-start: 3em;
    margin-block-end: 4em;
}

.header-upper-grid {
    height: 90px;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr / 50px 1fr 80px 80px 200px;
    align-items: center;
    padding: 0px 15px 0px 15px;
    color: rgb(75, 75, 75);
}

.header-lower-grid {
    height: 110px;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr 1fr / 80px 1fr 200px 200px 200px;
    align-items: center;
    padding: 0px 28px 28px 28px;
    color: rgb(75, 75, 75);
}

#searchbar {
    background-color: rgb(226, 226, 226);
    box-shadow: rgb(174, 175, 177) 0px 2px 2px inset;
    height: 32px;
    width: 750px;
    border: none;
    border-radius: 16px;
}

.user-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-icon-larger {
    grid-row-start: span 2;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.greeting, .greeting-name {
    margin-block-start: 0;
    margin-inline-start: 25px;
}


.greeting-name {
    grid-area: 2 / 2 / 3 / 3;
    align-self: self-start;
}
.greeting {
    align-self: self-end;
}

button {
    grid-row: span 2;
    height: 50px;
    font-family: Axiforma;
    color: #FAF9F6;
    background-color: rgb(97, 173, 173);
    border: none;
    border-radius: 25px;
    margin: 10px;
    align-self: self-end;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    color: rgb(75, 75, 75);
}

#your-projects {
    display: grid;
    gap: 28px;
    padding: 20px 28px 20px 28px;
    grid-template: 34px 200px 200px 200px / 1fr 1fr; 
    grid-template-areas: 
        "title title"
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6"
    ;
}

#sidecards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#announcements, #trending {
    padding: 20px 36px 20px 0px;
    display: grid;
    gap: 28px;
    grid-template: 34px 1fr / 1fr;
}

#your-projects-title {
    grid-area: title;
}

.project-card {
    height: 200px;
    width: 100%;
    background-color: #FAF9F6;
    box-sizing: border-box;
    border-left: 10px solid rgb(199, 182, 85);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr ;
}

.project-card-icons {
    justify-self: end;
    display: flex;
    justify-content: end;
    gap: 20px
}

#announcements-card, #trending-card {
    background-color: #FAF9F6;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
    padding: 10px 20px 10px 20px;
    display: grid;
    > div > h4 {
        margin-block-start: 0.8em;
    }
    > div > p {
        font-style: italic ;
        margin-block-start: 0.5em;;
        color: rgb(150, 150, 150);
    }
}

#announcements-card {
    grid-template: repeat(3, 1fr) / 1fr
}

.line-underneath {
    border-bottom: 1px solid rgb(150, 150, 150);
}